<div class="row margintop20px paddingtopbottom15px whitebackground justify-content-around">
  <div class="col-xs-12">
    <div class="table-responsive" *ngIf="bankAccountDetails.length">
      <table class="table table-striped table-hover table-bordered " [mfData]="bankAccountDetails" #mf="mfDataTable"
        [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width:80px;max-width:80px;">S No.</th>
            <th style="width:60px;max-width:60px;">
              <mfDefaultSorter by="AccountNo">Account No</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="Date">Date <i class="fa fa-sort pl-1" aria-hidden="true"></i></mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="TransactionDetails">Transaction Details
              </mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="ValueDate">Value Date <i class="fa fa-sort pl-1" aria-hidden="true"></i>
              </mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="WithdrawalAMT">Withdrawal AMT
              </mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="DepositAMT">Deposit AMT
              </mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="BalanceAMT">Balance AMT <i class="fa fa-sort  pl-1" aria-hidden="true"></i>
              </mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of mf.data; let i = index;">
            <td scope="row">{{data.Index}}</td>
            <td>{{data.AccountNo}}</td>
            <td>{{data.Date}}</td>
            <td>{{data.TransactionDetails}}</td>
            <td>{{data.ValueDate}}</td>
            <td>{{data.WithdrawalAMT}}</td>
            <td>{{data.DepositAMT}}</td>
            <td>{{data.BalanceAMT}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
